@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode__toggle {
  background: #313843;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
  margin-right: 2%;
}

.toggle:hover {
  cursor: pointer;
}

.toggle {
  background: teal;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3%;
}

.card {
  transition: 700ms;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: 700ms all;
}

.form-inline {
  margin-right: 8%;
}

nav h5 {
  margin-left: 25%;
  padding-top: 0.5%;
}


